.button {
    background-color: #c0de87;
    color: black;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.button:hover {
    transform: scale(1.1);
}

.button-delete {
    background-color: #e184ad;
}

